[submodule "src/icons/Font-Awesome"]
	path = src/icons/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "src/icons/material-design-icons.git"]
	path = src/icons/material-design-icons.git
	url = https://github.com/google/material-design-icons.git
[submodule "src/icons/typicons"]
	path = src/icons/typicons
	url = https://github.com/stephenhutchings/typicons.font.git
[submodule "src/icons/game-icons-inverted"]
	path = src/icons/game-icons-inverted
	url = https://github.com/delacannon/game-icons-inverted.git
[submodule "src/icons/weather-icons"]
	path = src/icons/weather-icons
	url = https://github.com/erikflowers/weather-icons.git
[submodule "src/icons/devicons"]
	path = src/icons/devicons
	url = https://github.com/vorillaz/devicons.git
[submodule "src/icons/bootstrap"]
	path = src/icons/bootstrap
	url = https://github.com/twbs/icons.git
[submodule "src/icons/RemixIcon"]
	path = src/icons/RemixIcon
	url = https://github.com/Remix-Design/RemixIcon.git
[submodule "src/icons/grommet-icons"]
	path = src/icons/grommet-icons
	url = https://github.com/grommet/grommet-icons.git
[submodule "src/icons/flat-color-icons"]
	path = src/icons/flat-color-icons
	url = https://github.com/icons8/flat-color-icons.git
[submodule "src/icons/ant-design-icons"]
	path = src/icons/ant-design-icons
	url = https://github.com/ant-design/ant-design-icons.git
[submodule "src/icons/material-design-icons"]
	path = src/icons/material-design-icons
	url = https://github.com/google/material-design-icons.git
